body{
  font-family: 'Roboto','Helvetica', sans-serif;
  text-align: center;
  background-color: #333;
  color: white;
}
h1, h2{
  font-weight: 200;
}
.container{
  max-width: 576px;
  margin: auto;
}
.selection{
  display: inline-block;
  background-color: #4444ff;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
  color: white;
  min-width: 25px;
}
.selection:hover{
  cursor: pointer;
}
.selection.active{
  background-color: #22cc22;
}
.select-container{
  display: inline-block;
  width: 100%;
}
.pen-button:hover{
  cursor: pointer;
}
input[type=range]{
  width: 100%;
}
input[type=number]{
  display: inline-block;
  margin-bottom: 20px;
  width: 50px;
}
h1{
  font-size: 40px;
}
label{
  font-size: 25px;
  margin-bottom: 20px;
  display: block;
  -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
}
.submit-button{
  background: #4444ff;
  font-size: 26px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.section{
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}